:root {
    --body-bg: #344C64;
    --phone-black: #101010;
    --phone-screen-bg: #D3D3D3;
    --check-btn-border-color: #A0A0A0;
    --invalid-color: #85144b;
    --valid-color: #3D9970;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
    background-color: var(--body-bg);
    color: white;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
}

#phone-space {
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#phone {
    min-height: 500px;
    height: 500px;
    width: 90%;
    background-color: var(--phone-black);
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
}

.border {
    flex: 1;
    display: flex;
    align-items: center;
}

#phone-screen {
    color: black;
    width: 94%;
    background-color: var(--phone-screen-bg);
    height: 80%;
    padding: 5px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#user-input {
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
    width: 80%;
    margin-top: 5px;
}

#results-div {
    margin: 5px 0;
    overflow-y: auto;
    text-align: left;
    height: 70%;
    width: 100%;
}

.result {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.result + .result {
    margin-top: .5rem;
}

.result span {
    white-space: nowrap;
}

.valid {
    color: var(--valid-color);
}

.invalid {
    color: var(--invalid-color);
}

button {
    all: unset;
    cursor: pointer;
}

#clear-btn {
    position: relative; 
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #333333, #222222);
}

#clear-btn:active {
    background: linear-gradient(to bottom right, #222, #333);
}

#check-btn {
    width: 50%;
    height: 36px;
    background: linear-gradient(gray, silver);
    font-weight: bold;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid var(--check-btn-border-color);
    border-bottom: 3px solid var(--check-btn-border-color);
}

#check-btn:active {
    border-top: 3px solid var(--check-btn-border-color);
    border-left: 3px solid var(--check-btn-border-color);
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

#camera-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
}